<!-- templates/partials/apps_list.html -->
<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Configure App</th>
      <th>README</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for app in apps %}
      <tr>
        <td>
          <a
            href="/app/apps/config?app={{ app.name }}"
            class="button is-small is-light has-text-weight-bold"
          >
            {{ app.name }}
          </a>
        </td>
        <td>
          <a href="https://github.com/EnigmaCurry/d.rymcg.tech/blob/master/{{ app.name }}#readme"
             target="_blank"
             class="has-text-link">
            README
          </a>
        </td>
        <td>{{ app.description }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
